<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <appSettings>
      <add key="wTitle" value="Notepad++"/>
      <add key="fExt" value="cs,cpp,c,h,java,bat,py,yml,py,php"/>
      <add key="fList" value="EZT_[SID]_list.txt"/>
    </appSettings>
</configuration>
